#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#keegan-header {
  text-align: center;
  font-size: 48px;
  background-color: #eee;
}

#img-caption {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

#tribute-info {
  margin:50px 0; 
  padding:0;
  text-align: left;
  background-color: #eee;
  line-height: 1.5;
}
.div-1 {
  background-color: #eee;
  padding-top: 50px;
  border-radius: 2px;
}
.div-2 {
  background-color:#eee;
  border-radius: 2px;
}
h1 {
  font-size: 35px;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

#tribute-caption {
  text-align: center;
  margin-top: 60px;
}